@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #1428A0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100dvh;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* background-color: #ffffff78; */
    padding: 1rem;
}

h1, h3 {
    color: #fff;
}

h1 {
    font-weight: 900;
    font-size: min(5rem, 10vw);
    line-height: 48px;
    transition: all 0.3s ease;
}

h1:hover {
    text-shadow: 4px 4px 10px #00000032;
    transform: translateY(-4px);
}

h3 {
    font-weight: 200;
    font-size: 1rem;
    margin-top: 1rem;
    position: relative;
}

h3 span {
    font-weight: 600;
    text-shadow: 0 0 3px #fff;
}

h3 span::after {
    content: '';
    display: block;
    width: 60%;
    height: 1px;
    background: linear-gradient(90deg, #fff, #1429a000, #fff);
    background-size: 200% auto;
    animation: ngalir 1s linear infinite;
    position: absolute;
    right: 0;
}

@keyframes ngalir {
    to {
        background-position: -200% center;
    }
}