@import url('https://fonts.googleapis.com/css2?family=Castoro+Titling&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Pixelify+Sans:wght@400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: rgb(0, 0, 255);
}

.gallery {
    column-count: 4;
    column-gap: 1rem;
    padding: 1rem;
    margin-top: 0;
}

.gallery img {
    width: 100%;
    margin-bottom: 1rem;
    transition: all 0.3s ease 0s;

    border-radius: 5px;
}

.gallery img:hover {
    transform: scale(1.02);
    box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.488);
}

.albumtitle {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;

    margin-top: 1rem;

    font-family: "Pixelify sans", serif;
    font-weight: 400;
    
    color: #0000ff;
    background-color: white;
    
    opacity: 0;
    transform: translateY(-20px);
    animation: floatIn 1s cubic-bezier(0.16, 1, 0.3, 1) forwards;
    animation-delay: 0s;
}
h1 {
    font-size: 5.5vw;

}

.allAlbum {
    opacity: 0;
    transform: translateY(-20px);
    animation: floatIn 1s cubic-bezier(0.16, 1, 0.3, 1) forwards;
    animation-delay: 2s;
}

@media (max-width: 768px) {
    .gallery {
        column-count: 2;
    }
    .albumtitle {
    }
    h1 {
        font-size: 5vw;

    }
}

@media (max-width: 480px) {
    /* .gallery {
        column-count: 1;
    } */
}

@keyframes floatIn {
    to {
    opacity: 1;
    transform: translateY(0);
    }
}